# Environnement virtuel
venv/
.env

# MLflow data
mlruns/
.trash/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Résidus Windows/WSL
*.Identifier

# Logs Airflow
airflow/logs/
airflow/airflow.db

# Fichiers de démonstration locale (usage personnel uniquement)
DEMO_LOCAL.md
