name: MLOps CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt pytest httpx fastapi

      - name: Prepare Mock Environment for Tests
        run: |
          # Création de la structure attendue par l'API pour éviter la 503
          mkdir -p mlruns
          mkdir -p data
          touch data/raw_weather.csv
          # On définit l'URI de tracking en local pour le job
          echo "MLFLOW_TRACKING_URI=file://$(pwd)/mlruns" >> $GITHUB_ENV

      - name: Run Unit Tests
        run: |
          # On lance les tests. L'API utilisera le mlruns vide ou mocké créé au-dessus
          pytest tests/test_api.py
        env:
          MODEL_NAME: "Weather_RF_Model"
          MODEL_STAGE: "None" 

      - name: Scan Dockerfile for vulnerabilities
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: app/Dockerfile

  build-and-push-docker:
    needs: continuous-integration
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push API Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: app/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/weather-api:latest